.event_list {
    &__grid {
        display: grid;
        gap: 1rem
    }
    &__card {
        display: grid;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--col-primary-900);
        gap: 1rem;
        grid-template-columns: 300px auto;
        img {
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center;
        }
    }
    &__meta {
        h3 {
            font-family: var(--ff-headlines);
            font-weight: var(--fw-900);
        }
    }
}