.bg--primary {
    background-color: var(--col-primary-400);
}
.bg--grey {
    background-color: var(--col-grey);
}

.bg--grad {
    background-color: var(--col-primary-400);
    background: linear-gradient(45deg, var(--col-primary-400) 50%, var(--col-secondary-400) 100%);
    color: white;
    position: relative;
}

.text-highlight {
    color: var(--col-highlight-400);
}

.text-primary-900 {
    color: var(--col-primary-900);
}

.bg--win {
    background-color: green !important;
    color: white;
}
.bg--loss {
    background-color: firebrick !important;
    color: white;
}
.bg--draw {
    background-color: orange !important;
    color: white;
}